#root .nav{
    display: flex;
    /* position: fixed;
    top: 0px; */
    /* background-color:white; */
    font-family: 'Baloo Bhai 2', cursive;
}
h1 ,h2{
    font-family: 'Baloo Bhai 2', cursive;
}
body
{
    background-color:#16001f;
}
.nav ul{
    list-style: none;
    display: flex;
}
.nav img{
    width: 82px;
    height: 82px;
}
.nav .logo{
    text-align: center;
    /* width: 144px; */
}
.nav .logo h5{
    padding-left: 2px;
    display: inline-block;
}
.logo i
{
    margin-left: 6px;
    color: black;
    text-align: center;
    display: inline-block;
}
.nav .logo h5{
    margin: 0px;
}
.nav a{
    text-decoration: none;
    color:white;
    /* border: 2px solid white; */
    font-size: 25px;
    border-radius: 30px;
    padding: 3px 42px;
}
.nav  a:hover{
    background-color:#37064b;
    color:white;
    /* -webkit-text-fill-color: aliceblue; */
}
.nav ul li {
    margin: 36px 0px 0px 0px;
    margin-bottom: 38px;
    font-size: 30px;
    width: 200px;
    border: 0px black solid;
}
.nav .button a
{
    border: 2px solid white;
    display: inline;
    margin: 1px 10px;
    padding: 1px 40px;
    font-size: 22px;
}
.nav .button{
    margin-left: 304px;
}
.container{
    /* background-color: #131720; */
    border: 2px white solid;
    display: block;
    width: 50%;
    margin: 10px auto;
    padding: 2px 2px;
    align-items: center;
    border-radius: 10px;
}
.button{
    width: 30%;
    margin: auto;
}
.btn:hover{
    background-color: #2e3853;;
    color: white;
    cursor: pointer;
}
.btn{
    display: block;
border: 2px white solid;
margin: 23px auto;
background-color: #131720;;
padding: 7px 23px;
color: aliceblue;
border-radius: 6px;
font-size: 20px;
}
.footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: .5px;
}
.container2 .im  img
{
   height: 150px;
   width: 150px;
}
.container2 .cont .box
{
    margin: 8px 6px;
    padding: 5px 5px;
    display: flex;
    color: aliceblue;
    /* width: 473px; */
    /* border: 2px black solid; */
    border-radius: 8px;
    /* background-color: rgb(196, 247, 229); */
    /* background: -o-repeating-linear-gradient(blue); */
    /* display: inline-block; */
}
div {
    display: block;
}

.container2 .im 
{
    display: inline-block;
}
.container2 .cont
{
    display: inline-block;
}
.container2 .cont .box h2{
    text-align: center;
}
.banner{
    color: green;
}
.btn:hover
{
        box-shadow:  4px 4px 4px rgb(81, 78, 78);
}
.nav .logo h5{
    text-shadow: 1px 1px 1px red;
}
.container2 .box .inimg img:hover{
    box-shadow: -1px 1px 6px 2px rgba(0,0,0,0.75);
}