.form form input{
        border: 0.01px white solid;
        display: block;
        border-radius: 5px;
        margin: 10px 3px;
        padding: 8px 3px;
        width: 300px;
}
.container h1{
    text-align: center;
}
.container .form input{
    /* text-align: center;
    align-items: center; */
    margin: 8px auto;
}
.btn4{
    display: none;
}
.container
{
    border: none;
}