#root .nav{
    display: flex;
    /* position: fixed;
    top: 0px; */
    /* background-color:white; */
    width: 80vw;
    margin: 2px auto;
    border: 1px solid rgb(67, 182, 202);
    border-radius: 60px;
    margin-top: 50px;
    background-color: rgb(0, 49, 50);
    font-family: 'Baloo Bhai 2', cursive;
    display: none;
}
h1 ,h2{
    font-family: 'Baloo Bhai 2', cursive;
}
.nav .logo{
    margin-top: 11px;
    margin-left: 22px;
}
body
{
    background-color:#16001f;
}
.nav ul{
    list-style: none;
    display: flex;
    margin: 0px;
}
.nav img{
    width: 82px;
    height: 82px;
}
.nav .logo{
    text-align: center;
    /* width: 144px; */
}
.nav .logo h5{
    padding-left: 2px;
    display: inline-block;
}
.logo i
{
    margin-left: 6px;
    color: black;
    text-align: center;
    display: inline-block;
    color:rgb(18, 234, 234)
}
.nav .logo h5{
    margin: 0px;
}
.nav ul li a:hover{
    color: rgb(173, 234, 234);
}
.nav a{
    text-decoration: none;
    color:white;
    /* border: 2px solid white; */
    font-size: 25px;
    border-radius: 0px;
    padding: 3px 20px;
    color: rgb(18, 234, 234);
}
.nav ul li {
    margin: 36px 0px 0px 0px;
    margin: 0px;
    font-size: 30px;
    width: 144px;
    border: 0px black solid;
}
.nav .button a
{
    border: 2px solid white;
    display: inline;
    margin: 1px 0px;
    padding: 1px 40px;
    font-size: 22px;
}
.nav .button{
    margin-left: 415px;
}
.container{
    /* background-color: #131720; */
    border: 2px white solid;
    display: block;
    width: 50%;
    margin: 10px auto;
    padding: 2px 2px;
    align-items: center;
    border-radius: 10px;
}
.button{
    width: 30%;
    margin: auto;
}
.btn:hover{
    background-color: rgb(2, 67, 70);;
    color: white;
    cursor: pointer;
}
.btn{
    display: block;
border: 2px rgb(154, 239, 242) solid;
margin: 0px auto;
background-color: #131720;;
padding: 7px 23px;
color: aliceblue;
color: rgb(162, 241, 241);
border-radius: 6px;
font-size: 20px;
}
.footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: .5px;
}
.container2 .im  img
{
   height: 150px;
   width: 150px;
}
.container2 .cont .box
{
    margin: 8px 6px;
    padding: 5px 5px;
    display: flex;
    color: aliceblue;
    /* width: 473px; */
    /* border: 2px black solid; */
    border-radius: 8px;
    /* background-color: rgb(196, 247, 229); */
    /* background: -o-repeating-linear-gradient(blue); */
    /* display: inline-block; */
}
div {
    display: block;
}

.container2 .im 
{
    display: inline-block;
}
.container2 .cont
{
    display: inline-block;
}
.container2 .cont .box h2{
    text-align: center;
}
.banner{
    color: green;
}
.btn:hover
{
        box-shadow:  4px 4px 4px rgb(81, 78, 78);
}
.nav .logo h5{
    text-shadow: 1px 1px 1px red;
}
.container2 .box .inimg img:hover{
    box-shadow: -1px 1px 6px 2px rgba(0,0,0,0.75);
}
.T img
{
    height: 100px;
    width: 100px;
    margin-bottom: 50px;
    position: absolute;
    animation-name: T;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
.T h1
{
    color:rgb(247, 5, 5);
    font-size: 50px;
    margin-left: 10px;
}
.T .h1
{
    animation-name: H;
    animation-timing-function:linear;
    /* animation-fill-mode: forwards; */
    animation-duration: .4s;
    animation-delay: 1s;
}
.T .h2
{
    animation-name: H;
    animation-timing-function: linear;
    /* animation-fill-mode: forwards; */
    animation-duration: .5s;
    animation-delay: 1.3s;
    color: white;
}
.T .h3
{
    animation-name: H;
    animation-timing-function: ease-out;
    /* animation-fill-mode: forwards; */
    animation-duration: .5s;
    animation-delay: 1.6s;
    color: green;
}
.T .h4
{
    animation-name: H;
    animation-timing-function: ease-out;
    /* animation-fill-mode: forwards; */
    animation-duration: .5s;
    animation-delay: 1.9s;
    color: orange;
}
.T
{
    justify-content: center;
    align-items: center;
    background-color: #16001f;
    height: 100vh;
    width: 100vw;
    display: flex;
}
@keyframes T
{
    from
    {
        left:-130px;
    }
    to
    {
        left:440px;
    }
}
@keyframes H
{
    
    0%
    {
        margin-bottom: 30px;
    }
    50%
    {
        margin-bottom: 100px;
    }
    100%
    {
        margin-bottom: 30px;
    }
}