extends head.pug 
block style 
    style 
        include ../static/entry.css
        include ../static/e.css
    script 
        include ../static/e.js
block nav 
    section.nav 
        .logo 
            img(src='https://vce.ac.in/img/vlogo%20-%20Copy.gif')
            .div 
            i(style="fontsize=50px", class="fa fa-bank")
            h5 PIN BANK OF VASAVI
        ul 
            li 
                a(href="/") home
            li 
                a(href="#") about us
            li 
                a(href="/update") contact
        form(action="/log")
            .log
                i(class="fa fa-user icon",style="font-size=30px")
                button.btn9(type='submit') login or signup
    .cont4
    section.container2 
        //- .im 
            
        //-     img(src="https://lh3.googleusercontent.com/p/AF1QipPVnXwThIBl8hf0uNSmLKzaj1NNmGoYRqXBwyiQ=s1360-w1360-h1020", alt=" not loading
        .cont
            .box.box1
                .inimg
                    //- img(src="https://cdn.pixabay.com/photo/2017/08/30/07/56/money-2696228__340.jpg")
                    img(src="https://cdn.pixabay.com/animation/2022/10/22/02/02/02-02-15-444_512.gif")
                .inbox
                    .paralax 
                    h2(style="color:") eligibility
                    ul 
                        li vasavian 
                        li having id card
                        li having roll NO
                        li age above 16 years 
                        li having email address
            .box.box2
                .inbox 
                    h2 services 
                    ul 
                        li online banking 
                        li food ordering 
                        li stationary ordering 
                        li fast transactions 
                        li safe and secure 
                .inimg
                    //- img(src="https://media.istockphoto.com/id/181296935/photo/the-glass-wall-with-a-inscription-bank.jpg?b=1&s=170667a&w=0&k=20&c=Yxj9SgbkUXwW0smds7dScj4p8H6TnOYKftbcB7QP7L0=")
                    img(src="https://cdn.pixabay.com/animation/2022/11/16/14/56/14-56-49-778_512.gif")
            .box.box3
                .inimg
                    //- img(src="https://cache.careers360.mobi/media/colleges/reviews/2023/1/16/188108/2020-03-17.jpg")
                    img(src="https://cdn.pixabay.com/animation/2022/10/06/19/34/19-34-14-12_512.gif")
                .inbox 
                    h2 clients 
                    ul 
                        li VASAVI COLLEGE OF ENGINEERING
                        li CBIT
                        li MGIT
                        li OSMANIA 
                        li IIIT HYD
