extends head.pug 
block style
    style
        //- include ../static/front.css
        include ../static/entry.css
        //- include ../static/e.css
        include ../static/signup.css
        include ../static/signup2.css
    script 
        include ../static/e.js
block front
    section.nav 
        .logo 
            img(src='https://vce.ac.in/img/vlogo%20-%20Copy.gif')
            i(style="fontsize=50px", class="fa fa-bank")
            h5 PIN BANK OF VASAVI
        ul 
            li 
                a(href="/") home
            li 
                a(href="#") about us
            li 
                a(href="/update") contact
    .container(style="margin-top:200px")
        h2(style="width:60%;margin-left:25%;color:white") login or signup to create your account
        form(action="/login")
            .button 
                button(onclick="f1()",type="button").btn login  
        form(action="/signup")
           .button 
                button(type='submit').btn sign up
    .f1#f1
        .f2 
            section.signupcontainer 
                h1(style="color:black") login
                form(action="/loginAccount" method='post')
                    .msg#msg(style="display:none")
                        h4(style="color:red", id="msg") password or roll incorect
                    i(class="fa fa-user icon")
                    input(type="text" ,name='rollNo' , placeholder='Enter your roll number...' style="background-color: #131720;color:white;")
                    .div 
                    i(class="fa fa-key icon")
                    input(type="password", name="password" placeholder="enter password..." style="background-color: #131720;color:white;")
                    .div
                    button(onclick="msg()",type="submit").btn Login
                button(onclick="f1()",type="button") back