extends head 
block style
    style
        include ../static/entry.css
        include ../static/transfer.css
    script 
        include ../static/account.js
block nav 
    section.nav 
        .logo 
            img(src='https://vce.ac.in/img/vlogo%20-%20Copy.gif')
            h5 PIN BANK OF VASAVI
        ul 
            li 
                a(href="/") home
            li 
                a(href="#") about us
            li 
                a(href="#") contact
    script(type='text/javascript')
        let rollNo=#{rollNo}
        let password=#{password}
        console.log(rollNo)
        console.log(password)
    section.container#c
        h1(style="color:white") Transfer Money 
        .form 
            form(action=`/transfer?rollNo=${rollNo}&password=${password}` method='post')
                input(type="text" name='roll' placeholder='enter roll number to credit...' style="background-color: #131720;color:white;")
                input(type="number", name="amount" placeholder="enter transfer amount.." style="background-color: #131720;color:white;")
                input(type="password", name="pass" placeholder='enter password' style="background-color: #131720;color:white;")
                button.btn.btn3#btn3(type="button",onclick="trans()" style="background-color: #131720;color:white;") send 
                button.btn.btn4#btn4(type="submit" style="background-color: #131720") confirm 
