.nav::before{
   height: 150px;
}  
/* .container2::before{
    content: "";
    background: url('https://media.istockphoto.com/id/178414064/photo/blue-spot-lights.jpg?b=1&s=170667a&w=0&k=20&c=5aDLTDPiXeocPrNZzafEblW18gvx9rrSVnKKtB9aHRM=') no-repeat center center/cover;
    /* background-color: aquamarine;  */
    /* position: absolute;
    top:0px;
    width: 100%;
    height: 100vh;
    opacity: 1;
    z-index: -1; */
/* } */ */
.btn9{
    transition: all .3s ease-in-out 0s;
}
.container2
{
    margin-top: 160px;
}
/* .container2 .cont .box .inbox
{
    background: url('https://media.istockphoto.com/id/181296935/photo/the-glass-wall-with-a-inscription-bank.jpg?b=1&s=170667a&w=0&k=20&c=Yxj9SgbkUXwW0smds7dScj4p8H6TnOYKftbcB7QP7L0=');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
.container2 .cont .box:hover .inimg img{
    box-shadow: -1px 2px 6px 5px  #94a1bd;
    opacity: 1;
    /* filter: grayscale(100%);
    -webkit-filter: grayscale(100%); */
    border-radius: 500px;
    /* box-shadow:  9px 9px 3px  #94a1bd; */
}
.container2 .cont .box .inimg img{
    transition: all 2s ease-out 0s;
    height: 300px;
    width: 400px;
    opacity: .5;
    /* display: inline; */
}
.container2 .cont .box .inimg
{
    display: inline-block;
    width: 410px;
    font-size: 40px;
    margin-left: 40px;
} 
.container2 .cont .box .inbox ul
{
    font-size: 25px;
    color:  #131720;
    transition: all 2s ease-in-out 0s;
}
.container2 .cont .box:hover .inbox ul
{
    font-size: 25px;
    color:  #94a1bd;
}
.container2 .cont .box3 .inbox
{  
    display: inline-block;
    margin: -8px 18px 0px 451px;
    /* height: 500px;
    width: 500px; */
    /* align-items: center;
    align-content: center; */
}
.container2 .cont .box1 .inbox
{  
    display: inline-block;
    margin: -8px 18px 0px 451px;
    /* height: 500px;
    width: 500px; */
    /* align-items: center;
    align-content: center; */
}
.container2 .cont .box2 .inbox
{  
    display: inline-block;
    margin: 47px 460px 50px 90px;
    /* height: 500px;
    width: 500px; */
    /* align-items: center;
    align-content: center; */
}
body{
    background-color: #131720;
}

.nav{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}
h1 ,h2{
    font-family: 'Baloo Bhai 2', cursive;
}

.nav .logo{
    text-align: center;
    width: 144px;
}
.nav .logo h5{
    padding-left: 2px;
    display: inline-block;
}
.logo i
{
    margin-left: 6px;
    color: black;
    text-align: center;
    display: inline-block;
}
.nav .logo h5{
    margin: 0px;
}
.nav ul a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding-left: 42px;
    padding-right: 42px;
}
.nav ul li a:hover{
    background-color: rgb(193, 26, 26);
    color:white;
    border-radius: 8px;
    /* -webkit-text-fill-color: aliceblue; */
}
.nav ul li a:hover{
    color:white;

}
.nav button {
    margin: 39px 36px 4px 450px;
    padding: 8px 20xp;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 8px;
    height: 49px;
    color: aliceblue;
    background-color: #131720;
    
}
.btn9:hover{
    box-shadow: 2px  2px 2px white;
}
.nav button:hover {
    border-radius: 10px;
   background-color: rgb(193, 26, 26);
   color:white;
   margin: 37px 36px 42px 450px;
   cursor: pointer;

}
.nav ul li {
    margin: 24px 0px 0px 0px;
    margin-bottom: 38px;
    font-size: 30px;
    width: 200px;
    border: 0px black solid;
}

.container{
    border: 2px black solid;
    display: block;
    width: 50%;
    margin: 10px auto;
    padding: 2px 2px;
    align-items: center;
    border-radius: 10px;
}
.button{
    width: 30%;
    margin: auto;
}
.btn:hover{
    background-color: rgb(193, 26, 26);
    color: white;
    cursor: pointer;
}
.btn{
    display: block;
border: 2px gray solid;
margin: 23px auto;
padding: 7px 23px;
border-radius: 6px;
font-size: 20px;
}
.footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: .5px;
}
.container2 .im  img
{
   height: 150px;
   width: 150px;
}
.container2 .cont .box
{
    margin: 8px 6px;
    padding: 5px 5px;
    display: flex;
    color: aliceblue;
    /* width: 473px; */
    /* border: 2px black solid; */
    border-radius: 8px;
    /* background-color: rgb(196, 247, 229); */
    /* background: -o-repeating-linear-gradient(blue); */
    /* display: inline-block; */
}
/* .cont:before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTKLiGcsGueAq_hs3uwoZ65TgWxCEnTvsXO2ncOCLQ&s") center center/cover;
    z-index: -1;
    opacity: .7;

} */
user agent stylesheet
div {
    display: block;
}
/* .cont4
{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    background-image: url('https://cdn.pixabay.com/animation/2022/10/06/19/34/19-34-14-12_512.gif') center center/cover ;
    /* background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTKLiGcsGueAq_hs3uwoZ65TgWxCEnTvsXO2ncOCLQ&s") center center/cover; */
    /* z-index: 2;
    opacity: 2;

} */ */
.container2 .im 
{
    display: inline-block;
}
.container2 .cont
{
    display: inline-block;
}
.container2 .cont .box h2{
    text-align: center;
}
.banner{
    color: green;
}
.btn:hover
{
        box-shadow:  4px 4px 4px rgb(81, 78, 78);
}
.nav .logo h5{
    text-shadow: 1px 1px 1px red;
}